.Settings { 
  border: 5px solid black;
  position: fixed;
  width: 20vw;
  height: 20vh;
  left: 0;
  top: 0;
}
.Stats {
  border: 5px solid black;
  position: fixed;
  width: 20vw;
  height: 80vh;
  left: 0;
  top: 22vh;
}
.QuestionBar {
  border: 5px solid black;
  position: fixed;
  width: 70vw;
  height: 20vh;
  left: 25vw;
}
.AnswerBox {
  border: 5px solid black;
  position: fixed;
  width: 70vw;
  height: 20vh;
  left: 25vw;
  top: 22vh;
}
.Buttons{
  border: 5px solid black;
  position: fixed;
  width: 70vw;
  height: 52vh;
  left: 25vw;
  top: 46vh;

}