/* colors
Background: #25283dff;
--plum: #8f3985ff;
--african-violet: #a675a1ff;
--rosy-brown: #cea2acff;
Text Color: #efd9ceff;
*/
.Container {
  background-color: #25283D;
  width: 100vw;
  height: 100vh;
}

.Settings { 
  
  border: 5px solid black;
  position: fixed;
  width: 20vw;
  height: 20vh;
  left: 0;
  top: 0;
}
.Stats {
  border: 5px solid black;
  position: fixed;
  width: 20vw;
  height: 80vh;
  left: 0;
  top: 22vh;
}
.QuestionBox {
  border: 5px solid black;
  position: fixed;
  width: 70vw;
  height: 40vh; 
  left: 25vw;
  top: 0; 
  overflow-y: hidden; 
}

.Buttons{
  border: 5px solid black;
  position: fixed;
  width: 70vw;
  height: 52vh;
  left: 25vw;
  top: 46vh;

}
h1 {
  color: #EFD9CE;
}
li {
  color: #EFD9CE;
}
.Question {
  word-wrap: break-word; 
  overflow-wrap: break-word;
  background-color: #a675a1ff;
  border: solid black 3px;
  border-radius: 10%;
  margin: 20px;
  padding: 10px;
  width: 60vw;
  min-height: 25vh;
  overflow-y: auto; 
  font-size: 2em;      
  font-weight: bold;  
  font-family: Arial, sans-serif; 
  color: #333;         
  box-sizing: border-box; 
}


.Question[type='text'] {
  border: solid black 3px; 
  background-color: #a675a1ff; 
  border-radius: 10%;     
  outline: none;           
  box-sizing: border-box;  
  -webkit-appearance: none;
  -moz-appearance: none;    
  appearance: none;         
}