/* colors
Background: #25283dff;
--plum: #8f3985ff;
--african-violet: #a675a1ff;
--rosy-brown: #cea2acff;
Text Color: #efd9ceff;
*/
.Container {
  background-color: #25283D;
  width: 100vw;
  height: 100vh;
}

.Statset { 
  
  border: 5px solid black;
  position: fixed;
  width: 20vw;
  height: 20vh;
  left: 0;
  top: 0;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
}
.StatsetButton{
  background-color: black;
  width: auto;
  height: auto;
}
.Stats {
  border: 5px solid black;
  position: fixed;
  width: 20vw;
  height: 80vh;
  left: 0;
  flex-direction: column;
  top: 22vh;
}
.settingButton {
  border:3px solid black;
  height: 10vh;
  margin: 0.25rem;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 1vw;
}
.Settingchange{
  width: 6vh;
  height: 6vh ;
  background-color: #8f3985ff;
  text-decoration-color: #efd9ceff;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 10%;
}
.AnimationToggle{
  width: 5vw;
  
}
#AnimationToggleon {
  background-color: green;
}
#AnimationToggleOff{
  background-color: red;
}
.deleteDataButton {
  width: 10vw;
  height: 10vh;
  position: fixed;
  top: 88vh;
  margin: 0.25rem;
  color: black;
  background-color: red;
  border-radius: 15%;
  cursor: pointer;
}
.QuestionBox {
  border: 5px solid black;
  position: fixed;
  width: 70vw;
  height: 40vh; 
  left: 25vw;
  top: 0; 
  overflow-y: hidden; 
}

.Buttons{
  border: 5px solid black;
  position: fixed;
  width: 70vw;
  height: 52vh;
  left: 25vw;
  top: 46vh;

}
h1 {
  color: #EFD9CE;
}
li {
  color: #EFD9CE;
}
.Question {
  word-wrap: break-word; 
  overflow-wrap: break-word;
  background-color: #a675a1ff;
  border: solid black 3px;
  border-radius: 10%;
  margin: 20px;
  padding: 10px;
  width: 60vw;
  min-height: 25vh;
  overflow-y: auto; 
  font-size: 2em;      
  font-weight: bold;  
  font-family: Arial, sans-serif; 
  color: #333;         
  box-sizing: border-box; 
}


.Question[type='text'] {
  border: solid black 3px; 
  background-color: #a675a1ff; 
  border-radius: 10%;     
  outline: none;           
  box-sizing: border-box;  
  -webkit-appearance: none;
  -moz-appearance: none;    
  appearance: none;         
}
.feedbackContainer{
  display: flex;
  justify-content: space-around;
  grid-template-columns: repeat(2, 1fr);
  

}
.feedback {

  width: 30vw;
}

